In [1]:
import pandas as pd

In [2]:
people_info = [['Taylor Swift', 'December 13, 1989', 'Singer_songwriter'], ['Aaron Sorkin', 'June 9, 1961', 'Screenwriter'], ['Harry Potter', 'July 31, 1980', 'Wizard'], ['Ji-Sung Park', 'Februrary 25, 1981', 'Footballer']]

In [3]:
df = pd.DataFrame(people_info, columns = ['name', 'birthday', 'occupation'])
df

           name            birthday         occupation
0  Taylor Swift   December 13, 1989  Singer_songwriter
1  Aaron Sorkin        June 9, 1961       Screenwriter
2  Harry Potter       July 31, 1980             Wizard
3  Ji-Sung Park  Februrary 25, 1981         Footballer

In [4]:
pd.dtype(df)

AttributeError: module 'pandas' has no attribute 'dtype'